:root {
    --color-default: #333333;
    --color-dark-blue: #2c3959;
    --color-dark-white: #f3f3f3;
    --color-gray: #e0e0e0;
    --color-box-shadow: #0000004d;
    --color-header-border: #d1d1d1;
    --color-row-border: #ebebeb;
    --color-backdrop: rgba(0, 0, 0, 0.5);
    --color-paper: hsl(0, 0%, 99.9%);
    --color-paper-border: hsl(0, 0%, 97%);
}
