.FlexGrid {
    $width: 60%;
    $padding: 2em;
    $margin-top: 3em;
    position: relative;

    &__row {
        display: flex;
    }

    @for $i from 1 through 12 {
        &__col-#{$i} {
            padding: $padding;
            flex-basis: 100 / 12 * $i * 1%;

            h3 + * {
                margin-top: $margin-top;
            }
        }
    }

    &__input {
        width: $width;

        & + label {
            margin-top: $margin-top;
        }
    }

    &__select {
        width: $width;

        & + label {
            margin-top: $margin-top;
        }

        &-multiple {
            display: flex;
            flex-wrap: wrap;
            gap: .3em;
        }
    }
}
