// Roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: rgb(51, 51, 51);
}

.indent {
    text-indent: 20px;
}

.non-decoration {
    text-decoration: none;
}
