.SearchMultiSelect {
    position: relative;
    margin-bottom: 3em;

    &__backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__input {
        width: 60%;
    }

    &__input-field {
        z-index: 2;
    }

    &__list {
        width: 100%;
        background-color: #fff;
        margin-top: 0.375em;
        max-height: 60vh;
        border-radius: 0.25em;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
                    0px 1px 1px 0px rgba(0,0,0,0.14),
                    0px 1px 3px 0px rgba(0,0,0,0.12);
        overflow-y: auto;
        z-index: 2;
    }

    &__selected {
        width: 80%;
        margin-top: 0.7em;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    &__chip {
        max-width: 14em;
    }
}
