.mui-input {
  &_qty {
    width: 50px;

    .MuiInputBase-input {
        text-align: center;
    }
  }

  &_small {
    width: 90px;

    .MuiInputBase-input {
      text-align: center;
    }
  }

  &_project {
    width: 300px;
  }
}
