.DrawerForm {
    position: fixed;
    top: 71px;
    right: 0;
    height: calc(100vh - 71px);
    transform: translateX(100%);
    transition: transform 0.2s cubic-bezier(0.820, 0.085, 0.395, 0.895);
    background: #ffffff;
    box-shadow: -9px 0 9px -9px rgba(0, 0, 0, 0.1);
    z-index: 11;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        width: 100%;
        height: 68px;
        padding: 8px 32px;
        border-bottom: 1px solid #e0e0e0;
    }
}