.Request {
    &__select {
        display: flex;
    }

    &__col1 {
        width: 20%;
        padding-top: 1.25em;
        margin-right: 3%;
    }

    &__col2 {
        width: 77%;
    }

    &__controls {
        margin-top: 2em;
    }
}