.supplier {

  &__response {
    &-header {
      padding: 10px 50px;
      margin-bottom: 50px;
      border: 1px solid rgb(240, 240, 240);
      border-radius: 10px;
      box-shadow: 0 2px 5px rgb(216, 216, 216);
    }

    &-table {
      font-size: 0.95em;

      td {
        padding: 8px 10px;

        &:first-child {
          font-weight: bold;
        }
      }
    }

    &-chip {
      min-width: 150px;
    }
  }
}
