.UserControl {
    &__status {
        margin-top: 3em * 1.5;
        display: flex;
        align-items: center;

        .PrivateSwitchBase-root-5 {
            margin-left: -12px;
        }
    }
}
