.TableRowButton {
    &__paper {
        position: fixed;
        margin-top: -3em;
        margin-left: 3.5em;
        border: 1px solid var(--color-paper-border);
        border-radius: 5px;
        box-shadow: 2px 2px 3px var(--color-box-shadow);
        background-color: var(--color-paper);
        z-index: 10;
    }
}
